@import url('https://fonts.googleapis.com/css2?family=Playwrite+AT:ital,wght@0,100..400;1,100..400&family=Playwrite+CU:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Playwrite+AT:ital,wght@0,100..400;1,100..400&family=Playwrite+CU:wght@100..400&display=swap');

body {
    line-height: 1.6;
    background: white;
}

.resume {
    width: 800px;
    background: white;
    padding: 50px;
    margin: 20px auto;
    box-shadow: 0 0 150px rgba(0, 0, 0, 0.582);
}

header {
    text-align: center;
    margin-bottom: 20px;
    font-family: "Playwrite AT", cursive;
}

header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

header p {
    margin: 5px 0;
    color: #333;
}

a {
    color: #0366d6;
}

a:hover {
    text-decoration: underline;
}

section {
    margin-bottom: 20px;
    font-family: "Edu AU VIC WA NT Hand", cursive;
}

section h2 {
    border-bottom: 2px solid #0366d6;
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-size: 1.5em;
}

ul li {
    margin: 5px 0;
}
